body {
	font-family:'Helvetica',sans-serif;
}

img {
	height: 100%;
	width: 100%;
}

.menu {
	width:100px;
	height:100px;
	z-index:1000;
}

a {
	color:grey;
}
a:hover {
	color:DodgerBlue;
}


.menu > h1 {
	width: 300px;
	font-size:16px;
	font-weight:normal;

	color:lightgrey;
}

.menu >h1.over,h1.active {
	color:DodgerBlue;
	cursor:pointer
}

#nw > h1 {
	text-align:left;
	margin-left:110px;
	margin-top:30px;
	cursor:pointer
	
}
#ne > h1 {
	text-align:right;
	margin-top:30px;
	margin-left:-310px;
	cursor:pointer
	
}
#se > h1 {
	text-align:right;
	margin-top:55px;
	margin-left:-310px;
	cursor:pointer
	
}
#sw > h1 {
	text-align:left;
	margin-top:55px;
	margin-left:110px;
	cursor:pointer
	
}



#uiWrap {
	position:absolute;
	height:500px;
	width:800px;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -250px;
	
}

#nw {
	background:url('img/menu_01.png') no-repeat;
	
	position:absolute;
	top:-50px;
	left:-50px;
}
#nw.over, #nw.active{
	background:url('img/menu_a_01.png') no-repeat;
	cursor:pointer
	
}


#ne {
	background:url('img/menu_02.png') no-repeat;
	
	position:absolute;
	top:-50px;
	right:-50px;
}
#ne.over, #ne.active{
	background:url('img/menu_a_02.png') no-repeat;
	cursor:pointer
	
}


#se {
	background:url('img/menu_04.png') no-repeat;
	
	position:absolute;
	bottom:-50px;
	right:-50px;
}
#se.over, #se.active{
	background:url('img/menu_a_04.png') no-repeat;
	cursor:pointer
	
}


#sw {
	background:url('img/menu_03.png') no-repeat;
	
	position:absolute;
	bottom:-50px;
	left:-50px;
}
#sw.over, #sw.active{
	background:url('img/menu_a_03.png') no-repeat;
	cursor:pointer
	
}



ul.bjqs-controls.v-centered li a{
	display:block;
	width:20px;
	height:40px;
	margin-right:-30px;
	margin-left:-30px;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
	background:url('img/arrows_01.png') no-repeat;
}
ul.bjqs-controls.v-centered li.bjqs-prev a:hover{
	background:url('img/arrows_a_01.png') no-repeat;
}
ul.bjqs-controls.v-centered li.bjqs-next a{
	background:url('img/arrows_02.png') no-repeat;
}

ul.bjqs-controls.v-centered li.bjqs-next a:hover{
	background:url('img/arrows_a_02.png') no-repeat;
}

p.bjqs-caption{
	width:100%;
	padding:0;
	font-size:14px;
	line-height: 40px;
	letter-spacing:0px;
	color:lightgrey;
	text-align:center;
/*	text-transform:uppercase; */
}


#about,#social,#contact {
position:absolute;
display: table;
top:50px;
left:50px;
width:700px;
height:400px;
}

.txt {
	display: table-cell;
	vertical-align: middle;;
}
p {
font-size:14px;
color:grey;
text-align:center;
}