@font-face {
    font-family: 'gujarati_sangam_mnregular';
    src: url('fonts/gujarati_sangam_mn-webfont.eot');
    src: url('fonts/gujarati_sangam_mn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gujarati_sangam_mn-webfont.woff') format('woff'),
         url('fonts/gujarati_sangam_mn-webfont.ttf') format('truetype'),
         url('fonts/gujarati_sangam_mn-webfont.svg#gujarati_sangam_mnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	font-family: 'gujarati_sangam_mnregular', serif;
	
}

img {
	height: 100%;
	width: 100%;
}

a {
	text-decoration:none;
	color:black;
	
}


a:hover {
	text-decoration:underline;
}




p {
font-size:12px;
text-align:left;
}

#uiWrap {
	position:relative;
	height:500px;
	width:800px;
	left: 50%;
	margin-left: -400px;
	margin-top: 50px;
	
}

#about,#contact {
position:absolute;
display: table;
top:0px;
left:0px;
height:500px;


}

.txt {
	display: table-cell;
	vertical-align: middle;
}



#menu{
	position:absolute;
	padding:0;
	margin:0;
	top:540px;
	width:100%;
	font-size:12px;
	font-weight:normal;
	text-align:left;
}

#menu span{
display:block;	
}

#menu span:hover{
	cursor:pointer;
	
}


ul.bjqs-controls.v-centered li a{
	display:block;
	width:20px;
	height:40px;
	margin-right:-30px;
	margin-left:-30px;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
	background:url('img/arrows_01.png') no-repeat;
}
ul.bjqs-controls.v-centered li.bjqs-prev a:hover{
	background:url('img/arrows_a_01.png') no-repeat;
}
ul.bjqs-controls.v-centered li.bjqs-next a{
	background:url('img/arrows_02.png') no-repeat;
}

ul.bjqs-controls.v-centered li.bjqs-next a:hover{
	background:url('img/arrows_a_02.png') no-repeat;
}

p.bjqs-caption{
	width:100%;
	padding:0;
	font-size:14px;
	line-height: 40px;
	letter-spacing:0px;
	color:lightgrey;
	text-align:center;
/*	text-transform:uppercase; */
}