img {
	height: 100%;
	width: 100%;
}

.menu {
	width:100px;
	height:100px;
	background:lightgrey;
	z-index:1000;
}

.menu h1 {
	width: 300px;
	font-size:16px;
	font-family:"Helvetica",sans-serif;
	font-weight:normal;
	color:lightgrey;
}

#nw > h1 {
	text-align:left;
	margin-left:110px;
	margin-top:30px;
}
#ne > h1 {
	text-align:right;
	margin-top:30px;
	margin-left:-310px;		
}
#se > h1 {
	text-align:right;
	margin-top:55px;
	margin-left:-310px;		
}
#sw > h1 {
	text-align:left;
	margin-top:55px;
	margin-left:110px;		
}



#uiWrap {
	position:absolute;
	height:500px;
	width:800px;
	background:yellow;
	
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -250px;
	
}

#nw {
	position:absolute;
	top:-50px;
	left:-50px;
}


#ne {
	position:absolute;
	top:-50px;
	right:-50px;
}


#se {
	position:absolute;
	bottom:-50px;
	right:-50px;
}

#sw {
	position:absolute;
	bottom:-50px;
	left:-50px;
}
